h1{
font-family: Helvetica;
font-size: 100px;
font-weight: bold;
text-align: center;
color: khaki;
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg")
}
h2{

}
#brushes{
background-color: mediumspringgreen;
}
#frames{
background-color: lightcoral;
}
#paint{
background-color: skyblue;
}
.header2{
font-family: Helvetica;
font-size: 32px;
font-weight: bold;
color: white;
}
.bigup{
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
p{
  font-family: Helvetica;
}
